body {
	font-family: Arial, sans-serif;

}

ul, li {
/*	display: block;*/
	padding: 0;
	margin: 0;
    margin-left: 10px;
}

h1, h2 {
	font-weight: bold;
	color: #000;
	text-align: center;
}

.header {
	background: url(https://www.nastol.com.ua/pic/201412/1920x1080/nastol.com.ua-120640.jpg) no-repeat center top / cover;
	padding-bottom: 160px;
    height: 100vh;
}

.bbb {
	margin-top: 10px;
}

.menu {
	margin-top: 33px;
}

.menu__item{
	margin: 0px 20px;
}

.menu__item a {
	color: #fff;
	font-size: 19px;
	font-weight: bold;
	text-transform: uppercase;
}

.titles {
	font-size: 23px;
	color: white;
	text-transform: uppercase;
	text-align: left;
	margin-top: 140px;
    margin-left: -10px;
    
}

 .button {
 	background: #D2B48C;
 	color: Black;
 	border-radius: 5px;
 	display:block;
 	width:260px;
 	padding: 20px 0;
 	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	border: 1px solid black;
	margin-top:70px;
 }


.second_part{
	background: #E1F0FF;
/* #E1F0FF #B6DBFF  background: url(https://img1.goodfon.ru/original/1920x1080/c/8e/zima-sneg-vetki-snezhinki-nebo.jpg) no-repeat center top / cover;*/
}


.title {
	
	
	padding: 50px;
}

._part{

}
.dostij, .news  {
	text-align: center;
	
	font-size: 20px
}
.news p {
	padding: 20PX;
}
.news a {

}

.for_part{
	background: #E1F0FF;

	text-align: center;
}
.form {

 	font-size: 20px;

}
.form button {
	margin: 20px;
	background: #D2B48C;
}

input {
	margin: 3px;
}

footer {
	text-align: center;
}

@media all and (max-width: 995px)
{
	.menu__item a {
	font-size: 0;
}
}
a {
   color: #fff;
	font-size: 19px;
	font-weight: bold;
	text-transform: uppercase; 
}

.list {
    padding: 50px;
    padding-top: 0px;
}

.price {
    text-align: center;
    
}

.kokos {
    text-align: center;
}

.pow {
   
    margin: 50px 20px 50px 20px ;
    font-weight: bold;
    font-size: 15pt;
    
    
}

.click {
    
    margin-top: 20%;
    margin-left: 25%; 
}

.thrd_part {
    
}

.heada {
    color: #fff;
	font-size: 19px;
	font-weight: bold;
	text-transform: uppercase;
    font-size: 22pt;
    margin-top: 25px;
}

img {
    max-width: 100%;
    height: auto;
}

@media all and (max-width: 1200px)
{
	.menu {
	font-size: 0;
        visibility: hidden;
}
}